body{
    margin: 0px;
    background-image: url("https://i.pinimg.com/originals/69/17/c3/6917c33f31912b1a7628cf3529fda4fc.jpg");
    background-size: 15%;
    background-attachment: fixed;
    font-family:sans-serif, serif;
}

hr{
    margin: 0px;
    margin-bottom: 0px;
}

div{
    opacity: 0.95;
}

#description{
    text-align: center;
    line-height: 80px;
    height: 80px;
    background-color: white;
    margin: 0px;
}

#catalog{
    list-style: none;
    background-color: white;
    padding: 3px;
    margin: 0px;
    height: 40px;
}

#catalog ul{
    display: flex;
    align-items: center;
    margin: 7px;
}

#catalog li{
    display: block;
    height: 10px;
    margin: 0px;
    float: left;
    /* border-style: solid; */
}

#catalog li a{
    text-decoration: none;
    color: black;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    /* border: 1px solid #000; */
}

#catalog li a:hover{
    color: blue;
}

.content{
    width: 1140px;
    height: auto;
    background-color: white;
    float: left;
    margin-top: 20px;
    margin-left: 180px;
    border: 1px solid #d3d3d3;
    padding: 10px;
}

.content p{
    text-align: center;
}

.fb-comments{
    background: #FFF;
    position: relative;
    margin-left: 180px;
    margin-top: 10px;
}